root = true

[*]
indent_style = tab
indent_size = 4

[*.md]
end_of_line = crlf
charset = utf-8-bom
indent_style = space

[*.pl]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.sh]
end_of_line = lf
charset = utf-8
